/* -------------------------------------------------------------------------

Table of Contents

1 - General Area

  1.1 Global (body, structure, ...)
  1.2 HTML Headings, and etc
  1.3 Section Styles / Headings

2 - Navigation Area

  2.1 Navigation

3 - Content Area

  3.1 Global Warming
    3.1.1 Quick Facts
  3.2 Temperature Change
  3.3 CO2 Emissions
  3.4 Opinions
  3.5 Work Cited
  3.6 Footer


*/

#home {
    color: white;
    font-size: 50px !important;
    background-image: url("../img/space.jpg");
    background-attachment: fixed;
}

.home-section {
    /* vertically align its content*/
    padding:100px 0;
    display: table;
    width: 100%;
    height: 100vh;
}

.home-section h1 {
    text-transform: uppercase;
}

.home-section > div {
    /* vertically align <div> inside <section> */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* --------------------------------------------------------------------------
 * 1 - General Area
 * -------------------------------------------------------------------------- */

/* ================ 1.1 - Global ================ */


/* Adapted from https://codepen.io/metaprinter/pen/mqJMdQ */

.component {
    position: relative;
    margin-bottom: 3em;
    height: 15em;
    font-family: 'Lato', Arial, sans-serif;
}

.cn-button {
    position: absolute;
    top: 150%;
    left: 50%;
    z-index: 11;
    margin-top: -5em;
    margin-left: -5em;
    padding: 0;
    width: 10em;
    height: 10em;
    border: none;
    border-radius: 50%;
    background: none;
    color: #5f259f;
    text-align: center;
    font-weight: 700;
    font-size: 1.0em;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}

.csstransforms .cn-wrapper {
    position: absolute;
    top: 150%;
    left: 50%;
    z-index: 10;
    margin-top: -13em;
    margin-left: -13.5em;
    width: 27em;
    height: 27em;
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    -webkit-transition: all .3s ease 0.3s;
    -moz-transition: all .3s ease 0.3s;
    transition: all .3s ease 0.3s;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    pointer-events: none;
    overflow: hidden;
}

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
    content:".";
    display:block;
    font-size:2em;
    width:6.2em;
    height:6.2em;
    position: absolute;
    left: 50%;
    margin-left: -3.1em;
    top:50%;
    margin-top: -3.1em;
    border-radius: 50%;
    z-index:10;
    color: transparent;
}

.csstransforms .opened-nav {
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: auto;
}
.cn-wrapper ul{
    position: relative;
    list-style: none;
    margin: 0;
}
.csstransforms .cn-wrapper li {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -1.3em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1.5em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(60deg) skew(60deg);
    -moz-transform: rotate(60deg) skew(60deg);
    -ms-transform: rotate(60deg) skew(60deg);
    transform: rotate(60deg) skew(60deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    pointer-events: none;
}

.csstransforms .cn-wrapper li a {
    position: absolute;
    right: -7.25em;
    bottom: -7.25em;
    display: block;
    width: 14.5em;
    height: 14.5em;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #429a67;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2;
    -webkit-transform: skew(-30deg) rotate(-60deg) scale(1);
    -moz-transform: skew(-30deg) rotate(-60deg) scale(1);
    -ms-transform: skew(-30deg) rotate(-60deg) scale(1);
    transform: skew(-31deg) rotate(-60deg) scale(1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: auto;
}
.csstransforms .opened-nav li a {
    background: -webkit-radial-gradient(transparent 0, #5f259f 0);
    background: -moz-radial-gradient(transparent 0, #5f259f 0);
    background: radial-gradient(transparent 0, #5f259f 0);
}

.csstransforms .cn-wrapper li a span {
    position: relative;
    top: 1.8em;
    display: block;
    font-size: .5em;
    font-weight: 700;
    text-transform: uppercase;
}
.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
    opacity:0.8;
}

.csstransforms .cn-wrapper li a:focus {
    position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
}

.csstransforms .opened-nav li {
    -webkit-transition: all .3s ease .3s;
    -moz-transition: all .3s ease .3s;
    transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
    -webkit-transform: rotate(0deg) skew(30deg);
    -moz-transform: rotate(0deg) skew(30deg);
    -ms-transform: rotate(0deg) skew(30deg);
    transform: rotate(0deg) skew(31deg);
}

.csstransforms .opened-nav li:nth-child(2) {
    -webkit-transform: rotate(12deg) skew(30deg);
    -moz-transform: rotate(12deg) skew(30deg);
    -ms-transform: rotate(12deg) skew(30deg);
    transform: rotate(60deg) skew(31deg);
}

.csstransforms .opened-nav  li:nth-child(3) {
    -webkit-transform: rotate(44deg) skew(30deg);
    -moz-transform: rotate(44deg) skew(30deg);
    -ms-transform: rotate(44deg) skew(30deg);
    transform: rotate(120deg) skew(31deg);
}

.csstransforms .opened-nav li:nth-child(4) {
    -webkit-transform: rotate(76deg) skew(30deg);
    -moz-transform: rotate(76deg) skew(30deg);
    -ms-transform: rotate(76deg) skew(30deg);
    transform: rotate(180deg) skew(31deg);
}

.csstransforms .opened-nav li:nth-child(5) {
    -webkit-transform: rotate(108deg) skew(30deg);
    -moz-transform: rotate(108deg) skew(30deg);
    -ms-transform: rotate(108deg) skew(30deg);
    transform: rotate(240deg) skew(31deg);
}

.csstransforms .opened-nav li:nth-child(6) {
    -webkit-transform: rotate(140deg) skew(30deg);
    -moz-transform: rotate(140deg) skew(30deg);
    -ms-transform: rotate(140deg) skew(30deg);
    transform: rotate(300deg) skew(31deg);
}

.no-csstransforms .cn-wrapper {
    overflow: hidden;
    margin: 10em auto;
    padding: .5em;
    text-align: center;
}

.no-csstransforms .cn-wrapper ul {
    display: inline-block;
}

.no-csstransforms .cn-wrapper li {
    float: left;
    width: 5em;
    height: 5em;
    background-color: #fff;
    text-align: center;
    font-size: 1em;
    line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}


.turquoise {

    background: #75c3bc !important;
}

.green {
    background: #7e9642 !important;
}

.brown {
    background: #432f19 !important;
}

.tan {
    background: #eeeace !important;
    color: black !important;
}

.olive {
    background: #159587 !important;
}

.brown2{
    background: #906647 !important;
}
.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
    background-color: #f8f8f8;
}

.no-csstransforms .cn-wrapper li.active a{
    background-color: #6F325C;
    color: #fff;
}

.no-csstransforms .cn-button {
    display: none;
}

@media only screen and (max-width: 620px) {
    .no-csstransforms li {
        width: 4em;
        height: 4em;
        line-height: 4em;
    }
}

@media only screen and (max-width: 500px) {
    .no-ccstransforms .cn-wrapper {
        padding: .5em;
    }

    .no-csstransforms .cn-wrapper li {
        width: 4em;
        height: 4em;
        font-size: .9em;
        line-height: 4em;
    }
}

@media only screen and (max-width: 480px) {
    .csstransforms .cn-wrapper {
        font-size: .68em;
    }

    .cn-button {
        font-size: 1em;
    }
}

@media only screen and (max-width:420px) {
    .no-csstransforms .cn-wrapper li {
        width: 100%;
        height: 3em;
        line-height: 3em;
    }
}

img {
    width: 80%;
}



/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 15; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255,255,255); /* Black fallback color */
    background-color: rgba(255,255,255, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

.bar {
    fill: #2980b9;
}

.bar:hover {
    fill: #f1c40f;
}

.outline {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.feature {
    fill: #ccc;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
}

path {
    fill: #ccc;
    stroke: #fff;
    stroke-width: .5px;
}
.county:hover{
    fill:orange;
}

div.tooltips {
    position: absolute;
    text-align: center;
    width: 80px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    pointer-events: none;
}